<%= bootstrap_form_with(model: @gist, local: true) do |f| %>
  <% if gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% gist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_area :src %>
  <%= f.text_field :lang %>
  <%= f.text_field :desc %>
  <%= f.submit %>
<% end %>
