<p id="notice"><%= notice %></p>

<pre class="highlight"><%= raw Rouge.highlight @gist.src, @gist.lang, 'html' %></pre>
<p><strong>Lang:</strong> <%= @gist.lang %></p>
<p><strong>Desc:</strong> <%= @gist.desc %></p>

<h2>Comments</h2>
<%= render @gist.comments %>

<h2>Add a comment</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_gist_path(@gist) %> |
<%= link_to 'Back', gists_path %>
